body{
      font-family: 'Roboto', sans-serif;
}
.orange-color{
      color: orange;
}



.First-food{
      display: flex;
}
.secound-food{ 
      background-image: url(images/Frame\ 57.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      display:flex
 
}
.half-width{
      width: 50%;
      padding-bottom: 9%;
      padding-right: 8%;
      padding-left: 8%;
      
}
.half-width img{
      width: 90%;
}
.targer{
      text-decoration: none;
      background-image: linear-gradient(orange,yellow);
      color: white;
      font-weight: 700;
      padding: 10px 40px;
      border-radius: 30px;
      

     
}
.third-food{
      text-align: center;

}




