body{
      font-family: 'Roboto', sans-serif;
}
.orange-color{
      color: orange;
}



.First-food{
      display: flex;
}
.secound-food{ 
      background-image: url(images/Frame\ 57.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      display:flex
 
}
.half-width{
      width: 50%;
      padding-bottom: 9%;
      padding-right: 8%;
      padding-left: 8%;
      
}
.half-width img{
      width: 90%;
}
.targer{
      text-decoration: none;
      background-image: linear-gradient(orange,yellow);
      color: white;
      font-weight: 700;
      padding: 10px 40px;
      border-radius: 30px;
      

     
}
.third-food{
      text-align: center;

}
#last-food{
      display: flex;
      padding: 5%;
     
      
}
.fourth-food{
      box-shadow: 10px 10px 20px gray;
      width: 30%;
      margin:5%;
      padding-top: 20%;
      padding-left: 2%;
      border-radius: 15px;
      background-image: url(images/Project\ Cover.png);
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: top;
      
      
}
footer{
      text-align: center;
      background-color:gray;
      padding: 10px;
      border-radius: 10px;
     
}
#orange{
      color: orange;
}
#gray{
      color: gray;
}




      
     
     

